<!DOCTYPE html>
<html lang="en" class="html">

<head class="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <title>Main</title>
</head>

<body class="body">
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__title">
                    Здраствуйте, Александра!
                </div>
            </div>
        </header>
        <div class="navigation-container-1">
            <nav class="navigation-1">
                <img src="./img/" alt="a picture" class="navigation-1__image">
                <button class="navigation-1__btn--attendance">Отметить посещаемость</button>
                <button class="navigation-1__btn--mark">Выставить оценки</button>
                <button class="navigation-1__btn--message">Личные сообщения</button>
                <button class="navigation-1__btn--task">Управление заданиями</button>
            </nav>
        </div>
        <main class="main">
            <div class="main__contaner">
                <table class="table">
                    <caption class="table__title">Расписаине на сегодня</caption>
                    <thead>
                        <tr>
                            <td>Группа, наименование предмета</td>
                            <td>№ каб.</td>
                            <td>Время</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="main__button-go-to-attend-page">
                    Перейти к расписанию
                </button>
            </div>
        </main>
        <footer class="footer">
            <div class="navigetion-contaner-2">
                <nav class="navigation-2">
                    <button class="navigation-2__btn--profile">Профиль</button>
                    <button class="navigation-2__btn--home">Home</button>
                    <button class="navigation-2__btn--faq">FAQ</button>
                </nav>
            </div>
        </footer>
    </div>
</body>

</html>